<div class="home-header" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="row centered-text">
        <div class="small-9 small-push-3 columns">
            <h3 style="color: #006887;">知识，乐趣，分享</h3>
            <p class="subheader">与万门不期而遇</p>
        </div>
        <div class="small-3 small-pull-9 columns">
            <h2 style="color: #008cba;">万门大学</h2>
        </div>
    </div>
</div>

<div class="home-content">
    <div class="row">
        <div class="panel">
            <h4>物理</h4>
            <a class="th" href="/courses/3">
                <img src="http://img.wanmen.org/video/cover/6b044fcbc2799099820bcafd95220e87.png!medium">
                <span class="label">广义相对论</span>
            </a>
            <a class="th" href="/courses/4">
                <img src="http://img.wanmen.org/video/cover/6b044fcbc2799099820bcafd95220e87.png!medium">
                <span class="label">理论物理一月特训班</span>
            </a>
            <a class="th" href="/courses/5">
                <img src="http://img.wanmen.org/video/cover/6b044fcbc2799099820bcafd95220e87.png!medium">
                <span class="label">热力学与统计物理</span>
            </a>
            <a class="th" href="/courses/6">
                <img src="http://img.wanmen.org/video/cover/6b044fcbc2799099820bcafd95220e87.png!medium">
                <span class="label">理论物理科学家班</span>
            </a>
            <a class="th" href="/courses/7">
                <img src="http://img.wanmen.org/video/cover/6b044fcbc2799099820bcafd95220e87.png!medium">
                <span class="label">量子力学</span>
            </a>
        </div>
        <div class="panel">
            <h4>数学</h4>
            <a class="th" href="/courses/8">
                <img src="http://img.wanmen.org/video/cover/6b044fcbc2799099820bcafd95220e87.png!medium">
                <span class="label">线性代数</span>
            </a>
            <a class="th" href="/courses/9">
                <img src="http://img.wanmen.org/video/cover/6b044fcbc2799099820bcafd95220e87.png!medium">
                <span class="label">高等数学</span>
            </a>
            <a class="th" href="/courses/10">
                <img src="http://img.wanmen.org/video/cover/6b044fcbc2799099820bcafd95220e87.png!medium">
                <span class="label">数学物理方法</span>
            </a>
        </div>
        <div class="panel">
            <h4>计算机</h4>
            <a class="th" href="/courses/1">
                <img src="http://img.wanmen.org/video/cover/6b044fcbc2799099820bcafd95220e87.png!medium">
                <span class="label">可计算理论</span>
            </a>
            <a class="th" href="/courses/2">
                <img src="http://img.wanmen.org/video/cover/6b044fcbc2799099820bcafd95220e87.png!medium">
                <span class="label">计算理论</span>
            </a>
        </div>
    </div>
</div>
