<div class="row">
    <h1>课程列表</h1>
</div>

<div class="row centered-text">
    <table>
        <thead>
            <tr>
                <th>课程名</th>
                <th>描述</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        <% @courses.each do |course| %>
            <tr>
            <td><%= course.title %></td>
            <td><%= course.description %></td>
            <td><%= link_to '查看', course %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
