<div class="home-header" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="row centered-text">
        <div class="small-9 small-push-3 columns">
            <h3 style="color: #006887;">知识，乐趣，分享</h3>
            <p class="subheader">与万门不期而遇</p>
        </div>
        <div class="small-3 small-pull-9 columns">
            <h2 style="color: #008cba;">万门大学</h2>
        </div>
    </div>
</div>
<div class="home-content">
    <div class="row">
        <div class="panel">
            <h4><span class="glyphicon glyphicon-hand-right"></span> 万门是什么</h4>
            <p>
            万门大学不仅是一所网络大学，它也是一种信仰，这种信仰来自于我们相信每个人内在的价值，相信大学之道的存在；它更是一次中国高等教育改革的践行——在符合时代特征和发展规律的基础上，对大学精神以及大学教育进行深入的思考和尝试。
            </p>
            <h4><span class="glyphicon glyphicon-hand-right"></span> 万门的理想</h4>
            <p>
            万门大学致力于成为网络时代变革大学教育的践行者。
            </p>
            <p>
            大学教育对于一个国家是至关重要的，它的使命是将一个国家相对优秀的人才进行培养，以使他们成为未来社会和国家发展的推动者和规划者。故而大学教育的成败将决定一个国家的未来。无需赘言，中国大学教育存在诸多问题，改革也已是老生常谈。而在今天这样一个时代，高等教育的改革离不开传统实体高校的努力，同样也离不开民间办学力量的参与和创新。
            </p>
            <p>
            万门大学正是在这样的时代背景下建立并逐渐成长起来的。万门大学不是一所传统意义上的大学，也无法取代实体大学，但我们致力于用自己的思考和专注，做我们应该做的事情，做我们可以做好的事情，对传统高校进行补充，同实体大学进行配合，共同参与到变革大学教育的进程中。
            </p>
            <h4><span class="glyphicon glyphicon-hand-right"></span> 万门的信仰</h4>
            <p>
            我们相信，每一个人的内在都拥有无限的潜能，在这一点上所有的人都是平等的，无论其出身、性别、学历、社会地位如何，他的内心都有潜能去理解和领悟世间的一切规律和智慧。万门大学将和万千青年人一起唤起自我改变的力量，打开自我内心深处的那扇大门，从而让智慧与美德的光芒照亮世界。
            </p>
            <p>
            我们相信，大学是要对某种精神进行传承的，这种价值和理念是要特别对历史和未来负责的，而不单单或者仅仅是对现在负责。万门大学以“独立之思考，求实之精神，人文之情怀”为立校精神，这种精神将在万门大学的每一个人、每一门课、每一项活动中得以体现，并将不断的传承给后来的每一位加入者，让它影响更多的人，让它一代代传承下去，坚持下去。
            </p>
            <p>
            我们相信，大学是要坚守其教育责任的。万门大学不是要做一个传播知识的百科全书，或是培养锻炼特定技能的培训机构，而是希望带给大家知识上的收获，学到那些足以影响他们一生的东西，掌握推动与支配自己的力量；坚持并全力与去培养一个完整的人，一个拥有独立思考、求实精神和人文情怀的人。
            </p>
            <p>
            我们相信，大学是需要创造一种氛围的，让学生认识到自我对于家庭、社会、国家、甚至整个人类的价值，并将这种认识上升为一种责任感和使命感。万门大学希望引导大家学会思考自己、思考世界，明确自己在世界中的位置，拥有“我想成为一个什么样的人”的视野，进而去追求富有意义的人生。
            </p>
        </div>
    </div>
</div>
