/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */


.th {
    margin-left: 14px;
    margin-right: 14px;
}

.th span {
    display: block;
}

.footer {
    background: #333333;
    padding: 24px 0 10px;
}

.footer ul.zurb-links {
    margin: 0;
    display: inline-block;
}

.footer ul.zurb-links li {
    display: block;
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.77778rem;
}

.footer ul.zurb-links li a {
    color: #666666;
    padding: 3px 6px;
}

.footer ul.zurb-links li a:hover {
    color: #777777;
}

.footer p.copyright {
    margin: 6px 0 0;
    font-size: 0.66667rem;
    color: #666666;
}
